:root{
    --white:#FFF;
    --black:#000;
    --grey:#EFEFEF;
    --red:#CB0215;
    --related-background:#F9F9F9;
    --text-large:2em;
    --text-medium:1.5em;
    --border-default: 1px solid var(--grey);
    --border-lg: 3px solid var(--grey);
    --bd-right-none: none;
    --widget-title:  1.5em Roboto-Regular;
    --principal-title:  bold 4em JosefinSans-Variable;
    --foot-h3: 500 1.2em Rubik-Variable;
    --description-product: bold 1em Rubik-Variable;
    --foot-first: 0.8em Rubik-Variable;
    --bx-prod-cat: 0.8em Roboto-Regular;
    --bx-prod-title: 1em Roboto-Regular;
    --bx-info-p: 0.7em Roboto-Regular;
    --box-shadow: 1px 1px 10px rgba(210, 210, 210, 0.5);

}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Rubik-Variable;
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
}
@font-face {
    font-family: JosefinSans-Variable;
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-family:Roboto-Regular, Rubik-Variable, JosefinSans-Variable;
}
h1, .title-banner{
    font: var(--principal-title);
    text-transform: uppercase;

}

.text-center{

    text-align: center;

}

h3{
    font:var(--foot-h3);
}



.widget-title h2{
    font:var(--widget-title);
}
.container{
    display: flex;
    width: 1100px;
    max-width: 1400px;
    min-width: 320px;
    margin: 0 auto;
}
.full{
    width: 100%;
    
}
.d-flex{
    display: flex;
}
.between{
    justify-content: space-between;
}
.evenly{
    justify-content: space-evenly;
}
.start{
    justify-content: start;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.center-y{
    align-items: center;
}

.center-x{
    justify-content: center;
}
.m10{
    margin: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-50{
    margin-bottom: 50px;
}
.mt-20{
    margin-top: 20px;
}
.m20{
    margin:20px
}
.mr-10{
    margin-right: 10px;
}
.mtb-10{
    margin: 10px 0;
}
.mtb-20{
    margin: 20px 0;
}
.mtb-50{
    margin: 50px 0;
}
.mrl-20{
    margin: 0 20px;
}
.mrl-40{
    margin: 0 40px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}

.wrap{
    flex-wrap: wrap;
}



.img-fluid{
    max-width: 100%;
    height: auto;
}

.d-none{
    display: none;
}

.widget{
    flex: 1;
    width: 100%;
    min-width:300px;
}
.banner{
    width: 250px;
    margin-right: 20px;
}
.btn, .btn-danger{
    width:130px;
    padding: 10px;
    display: block;
    background: var(--black);
    color: var(--white);
    font: 0.8em Rubik-Variable;
    text-transform: uppercase;
    text-align: center;
}

.btn-danger{
   
    background: var(--red);

}

